{% extends 'base.html.twig' %}

{% block title %}Abonnés à la newsletter{% endblock %}

{% block body %}
    <h1>Abonnés à la newsletter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ newsletter.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ newsletter.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('newsletter_index') }}">Retour à la liste</a>

    <a href="{{ path('newsletter_edit', {'id': newsletter.id}) }}">Editer</a>

    {{ include('newsletter/_delete_form.html.twig') }}
{% endblock %}
