{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <h1 class="content-index_title">Service</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Ordre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.title }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.ordering }}</td>
                <td>
                    <a class="admin-table_link" href="{{ path('service_show', {'id': service.id}) }}">Voir</a>
                    <a class="admin-table_link" href="{{ path('service_edit', {'id': service.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="message-link_container">
        <a class="message-index_link" href="{{ path('content_index') }}">Retour</a>
        <a <a class="message-index_link" href="{{ path('service_new') }}">Nouveau</a>
    </div>
{% endblock %}
