{% extends 'base.html.twig' %}

{% block title %}
    Who AmI ?
{% endblock %}

{% block body %}
    <section class="presentation_intro">
        <h1 class="who_am_i">The French Copywriter</h1>
        <h2 class="sb_who_am_i">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut euismod lorem. Proin congue mattis.</h2>
    </section>
    <section class="presentation_section">
        <div class="presentation_detail">
            <img src="images/chibi.jpeg" class="presentation_img" alt="illustration">
            <div class="presentations">
                {% for whoAmIContent in whoAmIContents %}
                    <div class="presentation_part">
                        {% if whoAmIContent.type == 'title' %}
                        <h2 class="presentation_title">{{ whoAmIContent.value }}</h2>
                        {% endif %}
                        {% if whoAmIContent.type == 'subtitle' %}
                        <h3 class="presentation_subtitle">{{ whoAmIContent.value }}</h3>
                        {% endif %}
                        {% if whoAmIContent.type == 'paragraph' %}
                        <p class="presentation_paragraph">{{ whoAmIContent.value }}</p>
                        {% endif %}
                        {% if whoAmIContent.type == 'image' %}
                        <img src="{{ whoAmIContent.value }}" alt="Image de présentation" />
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="presentation_section white">
        <div class="presentation_detail">
            <div class="presentations">
                {% for presentationContent in presentationContents %}
                    <div class="presentation_part">
                        {% if presentationContent.type == 'title' %}
                        <h2 class="presentation_title">{{ presentationContent.value }}</h2>
                        {% endif %}
                        {% if presentationContent.type == 'subtitle' %}
                        <h3 class="presentation_subtitle">{{ presentationContent.value }}</h3>
                        {% endif %}
                        {% if presentationContent.type == 'paragraph' %}
                        <p class="presentation_paragraph">{{ presentationContent.value }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <h1 class="centrage-services">Services</h1>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                    <div class="card-body" class"color-fond-card">
                        <h5 class="card-title">service 1</h5>
                        <p class="card-text">Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet,</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">service 2</h5>
                        <p class="card-text">Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet,</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">service 3</h5>
                        <p class="card-text">Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet,</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">service 4</h5>
                        <p class="card-text">Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet,</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">service 5</h5>
                        <p class="card-text">Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet,</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">service 6</h5>
                        <p class="card-text">Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet,</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
        <h2 class="contact-form_title">Des questions ?</h2>
        {{ form_start(form, {'attr':{'class':'contact-form'}}) }}
            <p class="contact-form_subtitle">Bonjour !</p>
            <div class = "contact-form_text">
                <div class="contact-form-text_paragraph"
                    <p class="contact-form_part">Je m'appelle </p>
                    {{ form_row(form.Prenom, {'attr':{'class':'contact-form_input contact-form_part', 'placeholder':'Votre prénom'}}) }}
                    {{ form_row(form.Nom, {'attr':{'class':'contact-form_input contact-form_part', 'placeholder':'Votre nom'}}) }}
                </div>
                <div class="contact-form-text_paragraph"    
                    <p class="contact-form_part">et je fais partie de la société </p>
                    {{ form_row(form.Societe, {'attr':{'class':'contact-form_input contact-form_part', 'placeholder':'Votre société'}}) }}
                </div>
                <div class="contact-form-text_paragraph"
                    <p class="contact-form_part">Je souhaiterai </p>
                    {{ form_row(form.Message, {'attr':{'class':'contact-form_input contact-form_part contact-form_message', 'placeholder':'Votre demande'}}) }}
                </div>
                <div class="contact-form-text_paragraph"
                    <p>Merci de me recontacter au </p>
                    {{ form_row(form.Telephone, {'attr':{'class':'contact-form_input contact-form_part', 'placeholder':'Votre téléphone'}}) }}
                </div>
                <div class="contact-form-text_paragraph"    
                    <p class="contact-form_part">ou par mail : </p>
                    {{ form_row(form.Email, {'attr':{'class':'contact-form_input contact-form_part', 'placeholder':'Votre e-mail'}}) }}
                </div>    
                <p class="contact-form_part">Merci, et à bientôt !</p>
            </div>
            <button class="contact-form_submit-button" >{{ button_label|default('Envoyer') }}</button>
        {{ form_end(form) }}
    </section>
    <section class="newsletter">
        <p class="newsletter-intro">Pour rester informé, abonnez-vous à la newsletter de votre copywriter préféré !</p>
        {{ form_start(formNews)}}
            {{ form_row(formNews.email, {'attr':{'class':'newsletter-form_input', 'placeholder':'Saisissez votre e-mail ici'}}) }}
            <button class="contact-form_submit-button" >{{ button_label|default('S\'abonner') }}</button>
        {{ form_end(formNews) }}
    </section>
{% endblock %}
