{% extends 'base.html.twig' %}

{% block title %}
    Who AmI ?
{% endblock %}

{% block body %}
    <section id="ancre_presentation" class="presentation_intro">
        <h1 class="who_am_i">The French Copywriter</h1>
        <h2 class="sb_who_am_i">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut euismod lorem. Proin congue mattis.</h2>
    </section>
    <section class="presentation_section">
        <div class="presentation_detail">
            <img src="images/chibi.jpeg" class="presentation_img" alt="illustration">
            <div class="presentations">
                {% for whoAmIContent in whoAmIContents %}
                    <div class="presentation_part">
                        {% if whoAmIContent.type == 'title' %}
                        <h2 class="presentation_title">{{ whoAmIContent.value }}</h2>
                        {% endif %}
                        {% if whoAmIContent.type == 'subtitle' %}
                        <h3 class="presentation_subtitle">{{ whoAmIContent.value }}</h3>
                        {% endif %}
                        {% if whoAmIContent.type == 'paragraph' %}
                        <p class="presentation_paragraph">{{ whoAmIContent.value }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="presentation_section">
        <div class="presentation_detail">
            <div class="presentations">
                {% for presentationContent in presentationContents %}
                    <div class="presentation_part">
                        {% if presentationContent.type == 'title' %}
                        <h2 class="presentation_title">{{ presentationContent.value }}</h2>
                        {% endif %}
                        {% if presentationContent.type == 'subtitle' %}
                        <h3 class="presentation_subtitle">{{ presentationContent.value }}</h3>
                        {% endif %}
                        {% if presentationContent.type == 'paragraph' %}
                        <p class="presentation_paragraph">{{ presentationContent.value }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <img src="images/chibi.jpeg" class="presentation_img" alt="illustration">
        </div>
    </section>
    <section id="ancre_service" class="service-section">
        <h2 class="services_title">Ce que je peux faire pour vous</h2>
        <div class="cards-container">
            {% for service in services %}
                <div class="service-card">
                    <h1 class="service-title">{{service.title}}</h1>
                    <p class="service-detail">{{service.description}}</p>
                </div>
            {% endfor %}
        </div>
    </section>
    <section id="ancre_formulaire" class="contact">
        <h2 class="contact-form_title">Des questions ?</h2>
        {{ form_start(form, {'attr':{'class':'contact-form'}}) }}
            <p class="contact-form_subtitle">Bonjour !</p>
            <div class = "contact-form_text">
                <div class="contact-form-text_paragraph"
                    <p class="contact-form_part">Je m'appelle </p>
                    {{ form_row(form.Prenom, {'attr':{'class':'contact-form_input contact-form_part', 'placeholder':'Votre prénom'}}) }}
                    {{ form_row(form.Nom, {'attr':{'class':'contact-form_input contact-form_part', 'placeholder':'Votre nom'}}) }}
                </div>
                <div class="contact-form-text_paragraph"    
                    <p class="contact-form_part">et je fais partie de la société </p>
                    {{ form_row(form.Societe, {'attr':{'class':'contact-form_input contact-form_part', 'placeholder':'Votre société'}}) }}
                </div>
                <div class="contact-form-text_paragraph"
                    <p class="contact-form_part">Je souhaiterai </p>
                    {{ form_row(form.Message, {'attr':{'class':'contact-form_input contact-form_part contact-form_message', 'placeholder':'Votre demande'}}) }}
                </div>
                <div class="contact-form-text_paragraph"
                    <p>Merci de me recontacter au </p>
                    {{ form_row(form.Telephone, {'attr':{'class':'contact-form_input contact-form_part', 'placeholder':'Votre téléphone'}}) }}
                </div>
                <div class="contact-form-text_paragraph"    
                    <p class="contact-form_part">ou par mail : </p>
                    {{ form_row(form.Email, {'attr':{'class':'contact-form_input contact-form_part', 'placeholder':'Votre e-mail'}}) }}
                </div>    
                <p class="contact-form_part">Merci, et à bientôt !</p>
            </div>
            <button class="contact-form_submit-button" >{{ button_label|default('Envoyer') }}</button>
        {{ form_end(form) }}
    </section>
    <section id="ancre_abonnez_vous" class="newsletter">
        <p class="newsletter-intro">Pour rester informé, abonnez-vous à la newsletter de votre copywriter préféré !</p>
        {{ form_start(formNews)}}
            {{ form_row(formNews.email, {'attr':{'class':'newsletter-form_input', 'placeholder':'Saisissez votre e-mail ici'}}) }}
            <button class="contact-form_submit-button" >{{ button_label|default('S\'abonner') }}</button>
        {{ form_end(formNews) }}
    </section>
{% endblock %}
