{% extends 'base.html.twig' %}

{% block body %}
<section class="presentation-form">
    <h1 class="presentation-form__title">Partie "Présentation"</h1>
    <h2 class="presentation-form__subtitle">Ajouter un nouveau titre et/ou un nouveau sous-titre et/ou un nouveau paragraphe :</h2>
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.subtitle) }}
        {{ form_row(form.paragraph) }}
        <button type="submit" name="btnSearch">Ajouter</button>
    {{ form_end(form) }}
</section>
{% endblock %}
